body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    padding: 0 150px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.navigation {
    display: flex;
    margin-left: auto;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 16px;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.hero-container {
    background-color: #1F2937;
    padding: 100px 150px;
    display: flex;
    align-items: center;

}

.hero-info{
    display: flex;
    flex-direction: column;
    margin-right: 100px;

}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    align-items: center;
}

.hero-subtext {
    color: #E5E7EB;
    align-items: center;
}

.hero-image {
    width: 500px;
    height: auto;
}

.hero-button {
    width: 120px;
    padding: 6px;
    margin-top: 10px;
    background-color: #3882F6;
    border-style: none;
    border-radius: 4px;
    color: #F9FAF8;
    align-items: center;
}

.random-container {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 240px;
}

.random-img-text-container {
    display: flex;
}

.random-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    margin-top: 50px;
}

.img-container {
    border-style: solid;
    border-radius: 6px;
    height: 120px;
    width: 120px;
}

.img-subtext {
    text-align: center;
    margin-top: 8px;
}

.quote-container {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 180px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-name {
    font-size: 18px;
    font-weight: 700;
    color: #1F2937;
    margin-left: auto;
}

.cta-container {
    padding: 180px;
}

.cta-blue-box {
    background-color: #3882F6;
    border-radius: 6px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    margin-right: 150px;
    color: #F9FAF8;
}

.cta-top-text {
    font-size: 18px;
    font-weight: 700;
}

.cta-button {
    background-color: #3882F6;
    border-style: solid;
    border-color: #F9FAF8;
    border-radius: 4px;
    color: #F9FAF8;
    padding: 4px 28px;
    flex-shrink: 0;
}

footer {
    background-color: #1F2937;
    color: #FAFAFA;
    text-align: center;
    margin-top: auto;
}

